*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{
	/* background-image: url(background.jpg); */
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.menu-bar
{

}

.card-footer, #value{
	align-content: flex-end;
}
.jumbotron{
	background-image: url(image2.jpg);
	background-size: cover ;
}
.active, .menu-bar ul li:hover
{
	background:#4682B4;
	border-radius: 3px;
}

.card-header{
	padding: 10%;
}

.card-title{
	margin-top: 5%;
	text-align: right;

}

.card{
	margin-bottom: 5%;
}

.card-text{
	text-align: right;
}
.menu-bar .fa
{
	margin-right: 8px;
}
.sub-menu-1
{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: #4682B4;
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 156px;
	padding: 10px;
	border-bottom: 2px solid #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color: #A0A0A0;
} 
